@{
    ViewBag.Title = "About";
}

<section class="" style="width:100%;height:455px;margin-bottom:50px">
    <div class="container-fluid testimonialImg ">
    </div>
</section>


<section style="background-image: url('../../Content/Images/section/section_bg04.jpg'); height:700px;padding-top:40px">
    <div class="container">
        <div class="row" style="display:flex;flex-direction:column;align-items:center">
            <h2 style="margin-bottom:0px;">PAINTERS AUCKLAND</h2>
            <div class="col-md-10 col-sm-10">
                If you have never paid attention to the colour of the walls or ceilings, or are struggling to get an interior paint finish which can help tie together your architraves, the skirtings, the furniture, items of fine art, etc., it is time to get your home or business painted to enhance its look, reset your mood and enter a new chapter in life!
            </div>

        </div>

        <div class="row" style="display:flex;flex-direction:row; height:600px;margin-top: 20px;
    margin-bottom: 20px;">


            <div class="col-md-10 col-sm-10">
                <h4>
                    Interior Painting
                </h4>
                How we can help: When you entrust interior painting work to us,
                you can expect to receive the best advice and services from our
                professional painters. If there are gib lines or patchy areas on
                your walls and ceilings from the past, our painters will make sure
                they give a smooth and even painting. They can help you with
                plastering and once the interiors are ready to be painted, they
                will explain the process to you, cover your things and the floor,
                help you with moving some furniture, and start their work.
                <h4>
                    Exterior Painting
                </h4>
                know how to make sure that your exterior wall surfaces are painted to survive not just the water blaster washing but also the humid weather conditions, the heavy rains and the severe heat that Auckland experiences each year. They understand surface requirements, they will take care of everything from stripping paints till sealing surfaces to give a durable finish. Let’s discuss your painting needs!


            </div>
            <div class="col-md-10 col-sm-10">
                <img alt="" src="~/Content/Images/Interior/in5.jpg" style="height:455px" />
            </div>

        </div>


    </div>


</section>
<!--

<div class="container">


    <div class="row" style="display:flex;flex-direction:row; height:600px;margin-top: 20px;
    margin-bottom: 20px;">

        <div class="col-md-10 col-sm-10">
            <img alt="" src="~/Content/Images/banners/10.jpg" style="height:455px" />
        </div>
        <div class="col-md-10 col-sm-10">
            <h4>
                House Painters in Auckland
            </h4>
            Keep your home looking fantastic with our house painting services.
            We handle small projects plus we can also help if you want to decorate
            your entire house.

            Get a completely new look, freshen up your existing décor, or anything
            between – you decide.

            <h4>Enterior & Exterior Painting Auckland</h4>
            We are experienced house painters in East Auckland, so we won’t let
            you down. Please call today on 0225276078 to get a quote.

            <h4>Commercial Property Painters</h4>
            We can also help if you need painting services for your commercial
            property or if you are a residential landlord and need to paint a
            property you plan to rent out.

            We handle all sizes of painting projects and will ensure we cause
            as little disruption to your business as possible during the work.
        </div>


    </div>


</div>
-->
