@{
    ViewBag.Title = "About";
}

<section class="" style="width:100%;height:455px;margin-bottom:50px">
    <div class="container-fluid testimonialImg " >
    </div>
</section>
       

<section style="background-image: url('../../Content/Images/section/section_bg04.jpg'); height:800px;">
    <div class="container">
        <div class="row" style="display:flex;flex-direction:column;align-items:center">
            <h2 style="margin-bottom:0px;">PAINTERS AUCKLAND</h2>
            <div class="col-md-10 col-sm-10">
                Whatever your painting requirements, we can help at Restorative Painters. As leading painters in East Auckland, we provide a full range of residential and commercial painting services. This includes interior and exterior painting.

                Call us on 027 5507565 to speak to the best team of painters in East Auckland.
            </div>

        </div>

        <div class="row" style="display:flex;flex-direction:row; height:600px;margin-top: 20px;
    margin-bottom: 20px;">


            <div class="col-md-10 col-sm-10">
                <h4>
                    House Painters in Auckland
                </h4>
                Keep your home looking fantastic with our house painting services.
                We handle small projects plus we can also help if you want to decorate
                your entire house.

                Get a completely new look, freshen up your existing décor, or anything
                between – you decide.

                <h4>Enterior & Exterior Painting Auckland</h4>
                We are experienced house painters in East Auckland, so we won’t let
                you down. Please call today on 0225276078 to get a quote.

                <h4>Commercial Property Painters</h4>
                We can also help if you need painting services for your commercial
                property or if you are a residential landlord and need to paint a
                property you plan to rent out.

                We handle all sizes of painting projects and will ensure we cause
                as little disruption to your business as possible during the work.
            </div>
            <div class="col-md-10 col-sm-10">
                <img alt="" src="~/Content/Images/Interior/in5.jpg" style="height:455px" />
            </div>

        </div>


    </div>
    <div class="container">
       

        <div class="row" style="display:flex;flex-direction:row; height:600px;margin-top: 20px;
    margin-bottom: 20px;">

            <div class="col-md-10 col-sm-10">
                <img alt="" src="~/Content/Images/banners/10.jpg" style="height:455px" />
            </div>
            <div class="col-md-10 col-sm-10">
                <h4>
                    House Painters in Auckland
                </h4>
                Keep your home looking fantastic with our house painting services.
                We handle small projects plus we can also help if you want to decorate
                your entire house.

                Get a completely new look, freshen up your existing décor, or anything
                between – you decide.

                <h4>Enterior & Exterior Painting Auckland</h4>
                We are experienced house painters in East Auckland, so we won’t let
                you down. Please call today on 0225276078 to get a quote.

                <h4>Commercial Property Painters</h4>
                We can also help if you need painting services for your commercial
                property or if you are a residential landlord and need to paint a
                property you plan to rent out.

                We handle all sizes of painting projects and will ensure we cause
                as little disruption to your business as possible during the work.
            </div>


        </div>


    </div>

</section>
